h1 {
  color: #1877F2;
  text-align: center;
  font-family: sans-serif;
}
p {
  color: #808080;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
